<!doctype html>



<html class="no-js" lang="zxx">
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"2d0f2ea92762c6a3d44dff5d9","lid":"f590ae3890","uniqueMethods":true}) })</script>      

    <!--Mainmenu-area/-->



    <!--Header-area-->
    <body class="header-area overlay full-height relative v-center" id="home-page">
        <div class="absolute anlge-bg"></div>
        <div class="container">
            <div class="row v-center">
                <div class="col-xs-12 col-md-7 header-text">
                    <h2>Bienvenue dans notre site.</h2>
                    <p>Vous trouverez les meilleurs endroits de Lyon et ses alentours, afin de vous ressourcer et vous promener en forêt.</p>
                </div>               
            </div>
        </div>
    
   

    

</body>

</html>