<div class= "merci">
<div class= "text-center">
<h3>Tu as payerr !! thx you de toute la teamVert pour ton dons </h3>
<h3>Tu ressevra bientot un mail de confirmation regarde ta boite mail toute les heures </h3>
<img src="http://ekladata.com/9E-ZtXwy3Uc3lfk-YJxc1PaDOus.gif" alt="" /></br></br></br>
<img src="https://data.photofunky.net/output/image/3/2/e/3/32e316/photofunky.gif" alt="" />
</div>
</div>
